/* Fonts */
/* Color */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Layout */
html {
  background-color: #fff;
}

.magic-container {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}
.magic-container:after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: "Open Sans", sans-serif;
}
body a {
  text-decoration: none;
  color: #ce1350;
}

header {
  padding-bottom: 30px;
  border-bottom: 1px solid #bbb;
}
header nav {
  padding: 20px 0;
  margin-bottom: 30px;
  border-bottom: 1px solid #bbb;
  overflow: hidden;
  *zoom: 1;
}
header nav a {
  text-transform: uppercase;
  display: block;
  float: right;
}
header nav .home {
  float: left;
}
header nav .login {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #bbbbbb;
}
header h1 {
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 42px;
  margin: 0 auto 20px;
  width: 275px;
  text-align: center;
}
header h1 span {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 40px;
  margin-bottom: 10px;
  display: block;
}
header h2 {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 18px;
  color: #999;
}

.user-list li {
  overflow: hidden;
  *zoom: 1;
  padding: 30px 0;
  border-bottom: 1px dotted #bbb;
}
.user-list .actions a {
  background-color: #ddd;
  color: #444444;
  font-weight: bold;
  padding: 3px 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

.user-photo {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
.user-photo img {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  margin: 0 auto;
  display: block;
}

.user-details {
  width: 57.62712%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
.user-details p {
  margin-bottom: 5px;
  line-height: 18px;
  color: #444;
}
.user-details strong {
  font-weight: bold;
}
.user-details em {
  font-style: italic;
}
.user-details .name {
  color: #00aeef;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 15px;
}
.user-details .name em {
  font-weight: normal;
}

.form {
  padding: 40px 0 80px;
}
.form legend {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 40px;
}
.form li {
  margin-bottom: 15px;
}
.form li label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}
.form li input, .form li textarea {
  font-family: "Open Sans", sans-serif;
  padding: 5px;
  font-size: 16px;
  width: 600px;
}
.form .email input, .form .dob input, .form .username input, .form .password input {
  width: 300px;
}
.form .submit {
  border: none;
  background-color: #00aeef;
  font-size: 16px;
  font-weight: bold;
  padding: 6px 10px;
  color: white;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

.search {
    float: right;
    margin-right: 30px;
    margin-top: -4px;
}

.search form input[type=submit] {
    font-size: 16px;
}

form li.photo label {
    margin-bottom: 15px;
}

#user_photo {
    padding-top: 0px;
    font-size: 16px;
}